@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    padding: 1em 0 0 1em;
    margin-bottom: 1em;
    background: #bdc3c7;
}

#root {
    padding: 0 2em;
}

#inputForm button[type="submit"] {
    margin-bottom: 2em;
    cursor: pointer;
    color: #fff;
    font-size: 1.25em;
    font-weight: bold;
    height: 2em;
    background: #2980b9;
    border: 0;
    outline: none;
    min-width: 20em;
}

#inputForm button[type="submit"]:hover {
    background: #3498db;
}

.section {
    margin-bottom: 2em;
}

.section > label {
    font-weight: bold;
    font-size: 1.25em;
    display: block;
    margin-bottom: 0.5em;
}

.section > textarea {
    width: 100%;
    display: block;
    resize: none;
    min-height: 10em;
}

.output > textarea {
    background: #ccc;
    outline: none;
    min-height: 15em;
}

