.doc-heading {
    border-bottom: 2px solid #000;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.doc-table pre {
    background: #ccc;
}

.doc-table {
    width: 100%;
    margin: 3em 0;
    text-align: left;
}

.doc-table > thead {
    margin-bottom: 1em;
}

.doc-table > thead > tr {
    border-bottom: 2px solid #000;
}

.doc-table > thead th {
    padding-bottom: 0.5em;
}

.doc-table > tbody tr:first-of-type td {
    padding-top: 0.5em;
}

.doc-types-list {
    margin: 3em 0 3em;
    padding-left: 1.5em;
}

.doc-types-list li {
    margin-bottom: 0.25em;
}