.Example {
    margin-bottom: 5em;
}

.Example:last-of-type {
    margin-bottom: 20em;
}

.Example-Title {
    font-weight: bold;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #000;
}

.Example-Try {
    display: block;
    margin: 1em 0;
}

.Example-Label {
    display: inline-block;
    font-weight: bold;
    min-width: 10em;
    vertical-align: top;
}

.Example-Code-Segment:first-of-type {
    margin-top: 0;
}

.Example-Code-Segment {
    margin-top: 0.5em;
}