@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('docs.css');
@import url('interpreter.css');
@import url('examples.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    padding: 1em 0 0 1em;
    margin-bottom: 1em;
    background: #bdc3c7;
}

hr {
    margin-top: 0.5em;
    border: 0;
    border-bottom: 2px solid #000;
    margin-bottom: 1em;
}

pre {
    display: inline-block;
    background: #ccc;
}

.nav {
    margin-left: 1em;
    list-style-type: none;
    display: inline-block;
}

.nav > li {
    display: inline-block;
}

.nav .active {
    color: black;
    text-decoration: none;
}

.page {
    display: none;
    padding: 0 2em;
}

.page.visible {
    display: block;
}

button {
    margin-bottom: 2em;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    display: inline-block;
    height: 2em;
    background: #2980b9;
    border: 0;
    outline: none;
    min-width: 20em;
}

button:hover {
    background: #3498db;
}